.ticket-popup-overlay {
  width: 100%; /* Set width to full screen */
  height: 100vh; /* Optional: Set height to full viewport height */
  position: fixed; /* Optional: Make it fixed to the viewport */
  top: 0; /* Position at the top */
  left: 0; /* Position at the left */
  background: rgba(0, 0, 0, 0.5); /* Optional: Add a background overlay */
}
.ticket-list {
  display: flex;
  overflow: hidden; 
  padding: 10px; // Existing padding for ticket-list
  width: 100%;
  height: 100%; 
  align-items: center;
  justify-content: center;
}

.ticket-popup {

  flex-direction: column; 
  align-items: center; 
  background: white; 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  max-width: 60%; /* Adjusted max-width for better mobile compatibility */
  width: 100%; 
}

.ticket-item {
  flex: 0 0 auto; 
  margin-right: 10px; 
  border: 1px solid #ddd; 
  border-radius: 5px; 
  min-width: 120px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  padding: 10px; // Existing padding for ticket-item
  height: auto; 

  // Adjust padding for mobile
  @media (max-width: 768px) {
    padding: 5px; // Reduced padding for mobile
  }
}

// Existing media query styles
@media (max-width: 768px) {
  .ticket-popup {
    padding: 10px; /* Reduced padding for mobile */
    min-width: 100%;
    max-width: 100%; 

  }

  .ticket-item {
    max-height: 230px; 
    margin-right: 5px; 
  }

  .ticket-item img {
    max-width: 50%; 
    height: auto; 
  }

  .popup-buttons {
    flex-direction: column; 
    align-items: stretch; 
  }

  .popup-buttons button,
  .popup-buttons .custom-button-analytics {
    width: 100%; 
    margin-bottom: 10px; 
  }
}
.ticket-header {
  text-align: center; /* Center align the text */
  font-weight: bold; /* Ensure the text is bold */
  margin: 0; /* Remove any default margin */
}
