.card-footer {
  display: flex;
  justify-content: space-between; /* Ensure buttons are evenly spaced horizontally */
  align-items: center;
  padding: 10px;
  background-color: #EDEDEE;
}

.custom-button-settings,
.custom-button-analytics,
.custom-button-archive {
  border-radius: 15px;
  padding: 10px 20px;
}

.custom-button-settings {
  background-color: #1DB954;
}

.custom-button-analytics {
  background-color: black;
  color: #EDEDEE;
}

.custom-button-archive {
  background-color: #E31B54;
}

  // Import the image
$event-background: 'src/assets/icon_svg/event.png';

.card-body-cc {
  position: relative;
  background-image: url(#{$event-background});
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1; 
  }

  &::after {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5); 
    z-index: 2; 
  }

  * {
    position: relative;
    z-index: 3; 
  }
}

.event-date-badge {
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.8em;
  white-space: nowrap;
  background-color: #E8F8EE;
  color: #1DB954;
  border: 1px solid #1DB954;
}

@media (max-width: 768px) {
  .card-footer {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    gap: 10px; /* Add space between stacked buttons */
    align-items: center; /* Center the buttons */
  }

  .custom-button-settings,
  .custom-button-analytics,
  .custom-button-archive {
    width: 90%; /* Make buttons take up most of the width */
    text-align: center; /* Center-align text */
  }
}
