.custom-button-archive {
    background-color: #E31B54;
    border: none; 
    transition: background-color 0.3s ease;
    border-radius:15px;
    padding: 10px 15px;
  }
  
  .custom-button-archive:hover {
    background-color: #C5113D; 
  }
  
  .custom-button-analytics {
    background-color: black;
    border: none; 
    transition: background-color 0.3s ease;
    border-radius:15px;
    padding: 10px 20px;
  }
  
  .custom-button-analytics:hover {
    background-color: rgb(114, 114, 114); 
  } 

  .custom-button-settings {
    background-color: #1DB954;
    border: none; 
    transition: background-color 0.3s ease;
    border-radius:15px;
    padding: 10px 20px;
    color: white;
  }
  
  .custom-button-settings:hover {
    background-color: #22d962; 
  } 
  